<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <%- include('nav') %>
</body>
<!-- user -->
<script>
     fetch("/task/taskitem")
    .then((response) => response.json())
    .then((response) => display(response))
    .catch((error) => console.log(error));

  const display = (data) => {
    console.log(data);
    document.getElementById("box").innerHTML = "";
    data.map((ele) => {
      let img = document.createElement("img");
      img.src = ele.img;
      img.style.width = "150px";
      let title = document.createElement("h1");
      title.innerHTML = `Title:${ele.title}`;
      let category = document.createElement("h3");
      category.innerHTML = `Category:${ele.category}`;
      let desc = document.createElement("p");
      desc.innerHTML = `Desc:${ele.desc}`;
      let duedate = document.createElement("p");
      desc.innerHTML = `duedate:${ele.duedate}`;
    })
      let div = document.createElement("div");
      div.append(
        img,
        title,
        desc,
        category,
        duedate
      );
      document.getElementById("box").append(div);
}
</script>
</html>